<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#"><h3 class="mb-0">Vence Garage</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#venceGarageNav">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="venceGarageNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;">Vehicles</a>
          </li>
      </ul>
  </div>
</nav>
